body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Navbar Styles */

.navBar {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 154, 38);
    margin-bottom: 3px;
    position: fixed;
    top: 0;
}

.navContainer {
    display: flex;
    flex-flow: nowrap;
    width: 90%;
    justify-content: space-between;
    align-items: center;
} 

.leftContainer, .rightContainer {
    display: flex;
}

.leftContainer {
    justify-content: center;
}

.rightContainer {
    justify-content: flex-end;
}

.navLeft, .navRight, .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.navLeft a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

.navLeft img {
    height: 90px;
}

.navRight a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
    margin-left: 40px;
    border-radius: 20px;
}

.navRight a:hover {
    background-color: rgb(247, 169, 90);
}

ul {
    list-style: none;
}

/* Intro page styles */

.intro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
}

#hamburger {
    background-image: url("../images/burger.jpg");
}

.callToAction {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 0px 15px;
    transition: transform 2s;
}

.callToAction:hover {
    background-color: rgb(255, 154, 38);
    transform: scale(1.15);
}

/* Everyday Categories Styles */

.everydayCategories {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.everydayContainer {
    width: 80%;
    padding: 30px 0px 60px;
}

.Text {
    font-size: 25px;
}

.everydayImagesContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.everydayImages {
    height: 220px;
    width: 320px;
    object-fit: cover;
    /* transition: transform .2s;     */
}

/* .everydayImages:hover{
    transform: scale(1.15);
} */

.everydayImageText {
    padding-right: 20px;
    display: flex;
    align-items: flex-end;
    width: 320px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.everydayImageText a {
    /* display: block; */
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.everydayImageText a:hover {
    background-color: rgb(255, 154, 38);
    border-radius: 20px;
}

/* Healthy Recipes of the Week Styles */

.healthyRecipes {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.healthyContainer {
    width: 80%;
    padding: 30px 0px 60px;
}

.healthyImagesContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.healthyImageText a {
    text-align: center;
    padding: 10px;
}

.healthyImageText {
    background-color: white;
    display: flex;
    align-items: flex-end;
    width: 230px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.healthyImageText:hover {
    background-color: rgb(255, 154, 38);
}

.healthyImages {
    height: 190px;
    width: 230px;
    object-fit: cover;
    /* transition: transform .2s;     */
}

/* Where to Eat Styles */

.whereToEat {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.whereContainer {
    width: 80%;
    padding: 30px 0px 60px;
}

.whereImagesContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.whereImageText {
    display: flex;
    align-items: flex-end;
    width: 320px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.whereImageText a {
    /* display: block; */
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.whereImageText a:hover {
    background-color: rgb(255, 154, 38);
    border-radius: 20px;
}

.whereImages {
    height: 220px;
    width: 320px;
    object-fit: cover;
    margin: 0px;
    border: 4px solid lightgrey
    /* transition: transform .2s;     */
}

.bottom a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-left: 5px;
    border-radius: 20px;
}

.navBottom {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 154, 38);
    margin-bottom: 3px;
}